* {
    box-sizing: border-box;
    
  }

.header {
    text-align: center;
    background-color: #0D3155;
    border: 4px solid #5990ED;
    border-radius: 4px;
    color: #BECDE4;
    font-size: 20px;
    margin-bottom: 80px;

}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
}

nav > li {
    display: flex;
    list-style-type: none;
    width: 30vh;
    justify-content: space-evenly;
}

nav{
    border: solid 1px black;   
    padding: 10px;
}

/* ul{
    border: solid 1px red;   
    padding: 50px;
} */

li {
    border: solid 1px green;   
    padding: 25px;
}

.image {
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    min-height: 300px;

}

body {
    display: grid;
    justify-content: center;

}

/* body {
    cursor: url('https://toppng.com/uploads/preview/no-face-png-11553956753a6hqkffkzz.png'), auto;
} */



.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 250px;
    column-gap: 40px;
    row-gap: 40px;
    color: #BECDE4;
    justify-content: center;
    align-items: flex-start;
    border: 10px solid orange;
}

.item {
    padding: 8px;
    background-color: #0D3155;
    border: 4px solid #5990ED;
    border-radius: 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

#projects {
    padding-top: 150px;
    padding-bottom: 100px;
    padding-right: 15vw;
    padding-left: 15vw;
    border: 4px solid pink;
}

#projects > h1 {
    display: flex;
    justify-content: center;
    font-size: 100px;
    text-decoration: underline;
}

nav {
    background-color: blueviolet;
    opacity: 0.2; 
    transition: visibility 1s, opacity 1s linear;
}

nav:hover {
    opacity: 1;
    transition: opacity 0.5s linear;
}


.project-holder {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    row-gap: 2vw;
    column-gap: 2vw;
    margin-top: 75px;
    border: 10px solid olive;
    
}

#projects > h2 {
    font-size: 35px;

}

.card {
    display: grid;
    grid-template-rows: auto auto;
    background-color: aliceblue;
    border-radius: 10px;
    border: 10px solid gold;
    opacity: 0.2;
    transition: visibility 1s, opacity 1s linear;
}

.card:hover {
    opacity: 0.99;
    transition: opacity 0.5s linear;

}

.card > img {
    display: flexbox;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 10px solid purple;
}
.card > h3 {
    grid-row: 2/3;
    row-gap: 0;
    height: auto;
    margin: 5px;
    padding: 0;
}

.card > p {
    grid-row: 3/4;
    row-gap: 0;
    height: auto;
    margin: 5px;
    padding: 0;
}

.card > img {
    width: 100%;
    margin-bottom: 10px;
}

.card1 {
    /* display: flex;
    flex-wrap: wrap; */
    grid-column-start: 1;
    grid-row-start: 1;
    /* margin-bottom: 75px;
    margin-left: 100px;
    margin-top: 100px; */
}

.card2 {
    grid-column-start: 2;
    grid-row-start: 1;
    /* margin-bottom: 75px;
    margin-right: 100px;
    margin-top: 100px; */
}

.card3 {
    grid-column-start: 3;
    grid-row-start: 1;
    /* margin-bottom: 100px;
    margin-left: 100px; */
}

.card4 {
    grid-column-start: 4;
    grid-row-start: 1;
    /* margin-bottom: 100px;
    margin-right: 100px; */
}