body,
html {
    margin: 0;
    padding: 0;
    position: fixed;
    background-image: url('https://wallpapercave.com/wp/wp9909495.jpg');
    background-size: cover;
}

canvas {
    filter: blur(1px);
}