* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#projects{
    height: 100vh;
    z-index: 1000;
}

.banner{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: visible;
    background: url(https://images7.alphacoders.com/325/thumb-1920-325547.jpg);
    background-size: cover;
    background-position: bottom;
}

h1 {
    text-shadow: 3px 3px black;
  }

/* Credit for cloud animation: https://www.youtube.com/watch?v=FWW38GuIo7M */

.banner .clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#projects{
    height: 100vh;

}

h1 {
    opacity: 0.99;
}

.banner .clouds img {
    position: absolute;
    bottom: 50vh;
    max-width: 100%;
    animation: animate calc(20s * var(--i)) linear infinite;
}

.clouds > img {
    transform: rotate(180deg);
}

@keyframes animate {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}