* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(https://images7.alphacoders.com/325/thumb-1920-325547.jpg);
    background-size: cover;
    background-position: bottom;
}

.banner .clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#projects{
    height: 100vh;
    margin-top: -100vh;

}

.banner .clouds img {
    position: absolute;
    bottom: 750px;
    max-width: 100%;
    animation: animate calc(20s * var(--i)) linear infinite;
}

.clouds > img {
    transform: rotate(180deg);
}

@keyframes animate {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}